@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

html{
  font-family: 'Orbitron', sans-serif;
  cursor: default;
}

button:hover{
  cursor: pointer;
}

#homePageHeader{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#appendedHeader{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
}

#headerTitle{
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

#headerTitle:hover{
  cursor: pointer;
  font-weight: 500;
}

#search{
  width: 50rem;
  height: 2.5rem;
  margin: 1rem;
  align-self: center;
}

#filterContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 1rem;
  margin: 1rem;
}

#filter, #sort, #home, #team, #add, #save, #fight, #clear {
  width: fit-content;
  height: 2.5rem;
  font-size: 1.5rem;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 2.5rem;
  align-items: center;
}

#team{
  min-width: 180px
}

#browse{
  display: flex;
  flex-flow: row wrap;
  gap:1rem;
  justify-content: center;
}

#browseTitle{
  justify-self: center;
}

#random {
  width:16rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0 2.5rem;
  min-width: 350px;
}

.characterCard{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px black solid;
  width: 16rem;
  overflow: hidden;
}

.characterCard:hover{
  cursor: pointer;
}

.characterCard>img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position:top;
  margin-top: 1rem;
}

#characterDetailsContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#characterDetails{
  display: flex;
  flex-flow: row nowrap;
  gap: 5rem;
  justify-content: center;
  margin: 1rem
}

#detailImg {
  width: 16rem;
}

#details{
  width: 40rem;
}

#teamContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#teamGallery{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

#max{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

#options{
  display: flex;
  gap: 1rem
}